<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanshao.selectimagelib">

    <application>
        <activity android:name=".YanShowImageActivity"></activity>
        <activity android:name=".YanSelectImageActivity" />
    </application>

</manifest>